global
    maxconn 4096
    nbthread 12
    log /dev/null local0

defaults
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    option http-keep-alive
    no log

frontend bench
    bind :9876
    default_backend upstream

backend upstream
    server s1 127.0.0.1:9877
